[user]
	email = ravoropaev@sbercloud.ru
	name = Воропаев Роман

[push]
  # push should only push current branch, not all branches
  default = current
[branch]
  # git pull should always rebase
  autosetuprebase = always

[rerere]
	enabled = true
[core]
	autocrlf = input
	excludesfile = /Users/roma/.gitignore_global
